 body{
    background-color: #E08282;
}

.texthead{
    font-size: 30px;
    font-family:  "Oswald", serif;
    margin-left: 4vh;
    margin-bottom: 30px;
    color:khaki;
}

.textforU{
    display: flex;
    align-self: center;
    margin-top: 5vh;
    margin-left: 10vh;
    font-family:  "Oswald", serif;
    font-size: 25px;
    color: khaki;
}
.text2{
    color: khaki;
    margin-left:7vh;
}

.text_and{
    margin-top: 20px;
    margin-left: 20vh;
    font-size: 20px;
    font-family:  "Oswald", serif;
    color: khaki;
}

.drawing{
    margin-left: 10vh;
    font-size: 15px;
    font-family:  "Oswald", serif;
    color: khaki;

}

.text{
    margin-left: 2vh;
}

.song{
    margin-left: 4vh;
}

.picture{
    margin-left: 0vh;
    width: 45vh;
    border-radius: 20px;
    cursor: pointer;
}

.house{
    width: 90px;
}

.heart{
    width: 120px;
}
